body {

	background: url(/img/background.jpg) no-repeat fixed top center;
	-webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
   /* font-family: '', sans-serif;*/
}
form {
	text-align: center;
}
div{
	text-align: center;
}

nav {
	margin: 30px
}
h2 {
	font-family: 'Oxygen', serif;
}